* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka, FontAwesome6Free;
    font-size: 10px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-top: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#cpu,
#memory,
#disk,
#temperature {
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#cpu {
}

#memory {
}

#disk {
}

#temperature.critical {
    background-color: #eb4d4b;
}
