* {
    font-family: ComicMono, FontAwesome6Free;
    padding: 0px;
    margin: 0px;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.3);
    border-right: none;
    color: #eceff4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
    background-color: rgba(59, 66, 82, 0.5);
    padding-bottom: 2px;
    border-radius: 0px 0px 12px 11px;
}

.modules-center {
    background-color: rgba(59, 66, 82, 0.5);
    padding: 12px 0px;
    border-radius: 12px;
}

.modules-right {
    background-color: rgba(59, 66, 82, 0.5);
    padding-top: 12px;
    border-radius: 12px 12px 0px 0px;
}

#workspaces button {
    font-size: 17.5px;
    background-color: transparent;
    color: #D8DEE9;
    box-shadow: inset -1px 0px transparent;
    border: none;
    border-radius: 0;
    padding: 4px 10px 4px 8px;
}

#workspaces button:hover {
    background: #616E88;
    box-shadow: inset -1px 0px #ECEff4;
}

#workspaces button.occupied {
    background-color: #4C566A;
    box-shadow: inset -1px 0px #ECEFF4;
}

#workspaces button.active {
    background-color: #3B4252;
    color: #E5E9F0;
    box-shadow: inset -2px 0px #ECEff4;
}

#workspaces button.urgent {
    background-color: #BF616A;
    color: #ECEFF4;
}


#temperature, #memory, #pulseaudio {
    margin-bottom: 48px;
}


#workspaces, #mode, #window, #pulseaudio, #network, #tray, #clock {
    color: #D8DEE9;
}

#pulseaudio.muted {
    background: #BF616A;
    color: #ECEFF4;
}

#custom-gpu-label, #custom-cpu-label, #custom-memory-label, #custom-disk-label, #custom-audio-label {
    font-size: 16px;
    margin-bottom: 6px;
}

#custom-gpu, #temperature.gpu, #cpu, #temperature.cpu, #memory, #disk, #pulseaudio {
    font-size: 14px;
}

#clock.day {
    font-size: 16px;
}

#clock.time {
    font-size: 28px;
}

#tray {
    background-color: rgba(136, 192, 208, 0.5);
    padding: 8px 0px;
    margin-top: 8px;
    border-radius: 16px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #BF616A;
    color: #ECEFF4;
    border: 1px solid #D08770;
}

#tray menu, tooltip {
    background-color: #4C566A;
    color: #ECEFF4;
    border: 1px solid #616E88;
}

#tray menu.focused {
    background-color: #BF616A;
    color: #ECEFF4;
    border: 1px solid #D08770;
}

tooltip * {
    padding: 1px 0px 1px 3px;
}
