* {
    font-family: UbuntuMono, FontAwesome6Free;
    padding: 0px;
    margin: 0px;
}


window#waybar {
    background-color: rgba(46, 52, 64, 0.3);
    border-right: none;
    color: #eceff4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
    background-color: rgba(59, 66, 82, 0.5);
    padding-right: 4px;
    border-radius: 0px 12px 12px 0px;
}

.modules-center {
    background-color: rgba(59, 66, 82, 0.5);
    padding: 0px 12px;
    margin-left: 1200px;
    border-radius: 12px;
}

.modules-right {
    background-color: rgba(59, 66, 82, 0.5);
    padding-left: 12px;
    border-radius: 12px 0px 0px 12px;
}

#workspaces button {
    font-size: 14px;
    background-color: transparent;
    color: #D8DEE9;
    box-shadow: inset 0px -1px transparent;
    border: none;
    border-radius: 0;
    padding: 0px 12px 0px 12px;
}

#workspaces button:hover {
    background: #616E88;
    box-shadow: inset 0px -1px #ECEff4;
}

#workspaces button.occupied {
    background-color: #4C566A;
    box-shadow: inset 0px -1px #ECEFF4;
}

#workspaces button.active {
    background-color: #3B4252;
    color: #E5E9F0;
    box-shadow: inset 0px -2px #ECEff4;
}

#workspaces button.urgent {
    background-color: #BF616A;
    color: #ECEFF4;
}


#temperature, #memory, #disk, #idle_inhibitor, #backlight, #pulseaudio {
    margin-right: 24px;
}


#workspaces, #mode, #window, #pulseaudio, #network, #tray, #clock {
    color: #D8DEE9;
}

#pulseaudio.muted {
    background: #BF616A;
    color: #ECEFF4;
}

#custom-gpu-label, #custom-cpu-label, #custom-memory-label, #custom-disk-label, #custom-audio-label, #clock.day {
    font-size: 10px;
    margin-right: 6px;
}

#custom-gpu, #temperature.gpu, #cpu, #temperature.cpu, #memory, #disk, #pulseaudio {
    font-size: 14px;
}

#custom-gpu-label {
    /* color: #D08770; */
}

#custom-cpu-label {
    /* color: #EBCB8B; */
}

#custom-memory-label {
    /* color: #A3BE8C; */
}

#custom-disk-label {
    /* color: #B48EAD; */
}

#custom-audio-label {
    /* color: #81A1C1; */
}

#clock.day {
    font-size: 14px;
}

#clock.time {
    font-size: 18px;
}

#tray {
    background-color: rgba(136, 192, 208, 0.5);
    padding: 0px 8px;
    margin-left: 8px;
    border-radius: 16px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #BF616A;
    color: #ECEFF4;
    border: 1px solid #D08770;
}

#tray menu, tooltip {
    background-color: #4C566A;
    color: #ECEFF4;
    border: 1px solid #616E88;
}

#tray menu.focused {
    background-color: #BF616A;
    color: #ECEFF4;
    border: 1px solid #D08770;
}

tooltip * {
    padding: 1px 0px 1px 3px;
}
