* {
    font-family: Iosevka, FontAwesome6Free;
    font-size: 12px;
    margin: -2 0px;
}


window#waybar {
    background-color: rgba(46, 52, 64, 0.5);
    border-bottom: none;
    color: #eceff4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags button {
    padding: 0 12px;
    background-color: transparent;
    color: #eceff4;
    box-shadow: inset 0 -7px transparent;
    border: none;
    border-radius: 0;
}

#tags button:hover {
    background: rgba(76, 86, 106, 0.3);
    box-shadow: inset 0 -7px #d8dee9;
}

#tags button.focused {
    background-color: #4c566a;
    box-shadow: inset 0 -8px #eceff4;
}

#tags button.urgent {
    background-color: #eb4d4b;
}


#temperature {
    margin-right: 32px;
}


#tags,
#mode,
#window,
#pulseaudio,
#network,
#tray {
    color: #eceff4;
    padding: 0 8px;
    margin: 0 8px;
}

#clock {
    color: #eceff4;
    padding: 0 8px;
    margin-left: 8px;
}

.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #eceff4;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background: transparent;
    border: none;
}

#pulseaudio.muted {
    background: #bf616a;
    color: #d8dee9;
}

#tray {
    background-color: rgba(136, 192, 208, 0.5);
    padding: 0 8px;
    border-radius: 16px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

tooltip {
    background-color: #2e3440;
}
